body {
   background: #cecece;
}

p {
    color: #252525;
}

.foto-principal {
    width: 200px;
    border: 2px solid #FFFFFF; /* shorthand */
    border-radius: 50%;
    
    /* border-width: 5px;
    border-style: solid; 
    border-color: black;
    */
}

